{
	email {$LETSENCRYPT_EMAIL}
	admin off
}

{$PORTAL_DOMAIN} {
	encode zstd gzip
	reverse_proxy portal:3002

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
